# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.BlockDasher.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\UnityProjects\BlockDasher\.idea\.idea.BlockDasher\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
